<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 명은 dao 와 일치하게 작성하면 됨 -->
<mapper namespace="com.aiear.dao.InicisDAO">

	<insert id="insertInicisPayHst" parameterType="map">
		INSERT INTO t_inisis_pay_hst (
			appldate,
			applnum,
			appltime,
			authsignature,
			buyeremail,
			buyername,
			buyertel,
			card_applprice,
			card_bankcode,
			card_checkflag,
			card_clevent,
			card_code,
			card_corpflag,
			card_expire,
			card_gwcode,
			card_interest,
			card_membernum,
			card_num,
			card_point,
			card_prtc_code,
			card_prtccode,
			card_purchasecode,
			card_purchasename,
			card_quota,
			card_srccode,
			card_terminalnum,
			card_usepoint,
			currency,
			custemail,
			eventcode,
			flgnotisendchk,
			goodname,
			goodsname,
			mid,
			moid,
			orgprice,
			p_fn_nm,
			p_sub,
			p_subcnt,
			parentemail,
			paydevice,
			paymethod,
			resultcode,
			resultmsg,
			tid,
			totprice,
			gen_by,
			gen_dt
		) values (
			#{applDate},
			#{applNum},
			#{applTime},
			#{authSignature},
			#{buyerEmail},
			#{buyerName},
			#{buyerTel},
			#{CARD_ApplPrice},
			#{CARD_BankCode},
			#{CARD_CheckFlag},
			#{CARD_ClEvent},
			#{CARD_Code},
			#{CARD_CorpFlag},
			#{CARD_Expire},
			#{CARD_GWCode},
			#{CARD_Interest},
			#{CARD_MemberNum},
			#{CARD_Num},
			#{CARD_Point},
			#{CARD_PRTC_CODE},
			#{CARD_PrtcCode},
			#{CARD_PurchaseCode},
			#{CARD_PurchaseName},
			#{CARD_Quota},
			#{CARD_SrcCode},
			#{CARD_TerminalNum},
			#{CARD_UsePoint},
			#{currency},
			#{custEmail},
			#{EventCode},
			#{FlgNotiSendChk},
			#{goodName},
			#{goodsName},
			#{mid},
			#{MOID},
			#{OrgPrice},
			#{P_FN_NM},
			#{p_Sub},
			#{p_SubCnt},
			#{parentEmail},
			#{payDevice},
			#{payMethod},
			#{resultCode},
			#{resultMsg},
			#{tid},
			#{TotPrice},
			'admin',
			now()
		)
	</insert>

</mapper>
