<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 명은 dao 와 일치하게 작성하면 됨 -->
<mapper namespace="com.aiear.dao.InicisDAO">

	<select id="getInicisIndList" parameterType="map" resultType="map">
		SELECT *
		  FROM t_inicis_user_mapp t1
	INNER JOIN t_inicis_pay_hst t2
			ON t1.pay_seq = t2.seq
		 WHERE 1=1
		   AND t1.pay_seq = ${pay_seq}
		   AND t1.seq = ${seq}
	</select>

	<select id="insertInicisPayHst" parameterType="map" resultType="Integer">
		INSERT INTO t_inicis_pay_hst (
			appldate,
			applnum,
			appltime,
			authsignature,
			buyeremail,
			buyername,
			buyertel,
			card_applprice,
			card_bankcode,
			card_checkflag,
			card_clevent,
			card_code,
			card_corpflag,
			card_expire,
			card_gwcode,
			card_interest,
			card_membernum,
			card_num,
			card_point,
			card_prtc_code,
			card_prtccode,
			card_purchasecode,
			card_purchasename,
			card_quota,
			card_srccode,
			card_terminalnum,
			card_usepoint,
			currency,
			custemail,
			eventcode,
			flgnotisendchk,
			goodname,
			goodsname,
			mid,
			moid,
			orgprice,
			p_fn_nm,
			p_sub,
			p_subcnt,
			parentemail,
			paydevice,
			paymethod,
			resultcode,
			resultmsg,
			tid,
			totprice,
			gen_by,
			gen_dt
		) values (
			#{applDate},
			#{applNum},
			#{applTime},
			#{authSignature},
			#{buyerEmail},
			#{buyerName},
			#{buyerTel},
			#{CARD_ApplPrice},
			#{CARD_BankCode},
			#{CARD_CheckFlag},
			#{CARD_ClEvent},
			#{CARD_Code},
			#{CARD_CorpFlag},
			#{CARD_Expire},
			#{CARD_GWCode},
			#{CARD_Interest},
			#{CARD_MemberNum},
			#{CARD_Num},
			#{CARD_Point},
			#{CARD_PRTC_CODE},
			#{CARD_PrtcCode},
			#{CARD_PurchaseCode},
			#{CARD_PurchaseName},
			#{CARD_Quota},
			#{CARD_SrcCode},
			#{CARD_TerminalNum},
			#{CARD_UsePoint},
			#{currency},
			#{custEmail},
			#{EventCode},
			#{FlgNotiSendChk},
			#{goodName},
			#{goodsName},
			#{mid},
			#{MOID},
			#{OrgPrice},
			#{P_FN_NM},
			#{p_Sub},
			#{p_SubCnt},
			#{parentEmail},
			#{payDevice},
			#{payMethod},
			#{resultCode},
			#{resultMsg},
			#{tid},
			#{TotPrice},
			'admin',
			now()
		)
		RETURNING seq
	</select>


	<select id="insertInicisRefundHst" parameterType="map" resultType="Integer">
		INSERT INTO t_inicis_pay_refund_hst (
			pay_seq,
			resultcode,
			resultmsg,
			tid,
			prtctid,
			prtcremains,
			prtcprice,
			prtctype,
			prtccnt,
			prtcdate,
			prtctime,
			receiptinfo,
			pointamount,
			discountamount,
			creditamount,
			rsltcode,
			gen_by,
			gen_dt
		) VALUES (
			${pay_seq},
			#{resultCode},
			#{resultMsg},
			#{tid},
			#{prtcTid},
			#{prtcRemains},
			#{prtcPrice},
			#{prtcType},
			#{prtcCnt},
			#{prtcDate},
			#{prtcTime},
			#{receiptInfo},
			#{pointAmount},
			#{discountAmount},
			#{creditAmount},
			#{rsltCode},
			#{gen_by},
			now()
		)
		RETURNING seq
	</select>


	<insert id="insertInicisUserPayMapp" parameterType="map">
		INSERT INTO t_inicis_user_mapp (
			hospital_id,
			pay_seq,
			use_flag,
			gen_by,
			gen_dt,
			goodstype,
			price
		) VALUES (
			#{buyerName},
			${paySeq},
			'N',
			#{buyerName},
			NOW(),
			#{goodstype},
			#{price}
		)
	</insert>
	
	
	<update id="updateInicisPayHst" parameterType="map">
		UPDATE t_inicis_pay_hst
		   SET totprice = #{remainPrice}
		 WHERE seq = ${pay_seq}
	</update>
	
	
	<update id="updateInicisUserPayMapp" parameterType="map">
		UPDATE t_inicis_user_mapp
		   SET use_flag = 'Y'
		   	 , start_dt = null
		   	 , end_dt = null
		   	 , mdfy_by = #{gen_by}
		   	 , mdfy_dt = now()
		   	 , goodstype = 'REF'
		   	 , price = '0'
		 WHERE 1=1
		   AND seq = ${seq}
	</update>
	
</mapper>
