<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>KG이니시스 결제실패</title>
        <link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		
		<script language="javascript" type="text/javascript" src="https://stdpay.inicis.com/stdjs/INIStdPay.js" charset="UTF-8"></script>
    </head>

    <body class="wrap">

        <!-- 본문 -->
        <main class="col-8 cont" id="bill-01">
            <!-- 카드CONTENTS -->
            <section class="menu_cont mb-5">
                <div class="card">
                	<div>결제 실패</div>
                    <form name="" id="result" method="post" class="mt-5">
	                    <div class="row g-3 justify-content-between" style="--bs-gutter-x:0rem;" th:text="${resultMap}">
	                    </div>
	                </form>
                </div>
            </section>
        </main>
		
    </body>
    
    <script>
    const opener = window.opener;

    if(opener){
		const payload = {
			message : "paymentResult",
			isSuccess : true
		}
		opener.postMessage(payload, "http://103.22.220.93:8080");
		window.close();
	}
	</script>
</html>
